//overrides
#__docusaurus {
  [class*="docMainContainer_"] {
    max-width: initial;
    position: sticky;
    overflow-y: auto;
    max-height: calc(100vh - var(--ifm-navbar-height));
    > .container {
      max-width: initial;

      > .row {
        flex-wrap: nowrap;
      }
    }
  }

  [class*="docPage_"] {
    > div {
      flex-grow: 1;
      min-width: 0;
    }
  }
}
